@font-face {
    font-family: 'impact_labelregular';
    src: url('fonts/Impact_Label-webfont.eot');
    src: url('fonts/Impact_Label-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Impact_Label-webfont.woff') format('woff'),
         url('fonts/Impact_Label-webfont.ttf') format('truetype'),
         url('fonts/Impact_Label-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}    
*
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    color: midnightblue;
    font-weight: bold;
}
html
{
    background-image: url("background.png");
    -background-repeat: no-repeat;
    -background-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1
{
    text-shadow: 4px 4px 3px crimson;
    color: whitesmoke;
    text-align: center;
    font-size: 2.7em;
    font-weight: bold;
    border: 4px darksalmon dashed;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
    margin: auto
}
h2
{
    color:whitesmoke;
    font-size: 1.8em;
    font-weight: bold;
    text-shadow: 2px 2px 2px lightcoral;
    text-decoration: underline;
}
h3
{
    color:whitesmoke;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(11, 175, 175)
}
.intro
{
    text-align: center; /*why isn't this working?! */
}

.PS
{
    font-size: 0.8em;
}
.exhibits
{
    color:rgb(204, 50, 96);
}
.italics
{
    font-style: italic;
}
.pic
{
    float: inline-end;
}
a
{
    color: darkslategrey ;
}
a:visited
{
    color:cornflowerblue
}
.sign
{
    margin-left: 700px;
    text-align: right
}
.box
{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
}
figcaption
{
    text-align: center
}

.box :nth-child(1)
{
    order:1;
}
.box :nth-child(2)
{
    order:2;
}
.box :nth-child(3)
{
    order:3;
}
img 
{
width: 300px;
height: 250px;
}
